.home-footer{
	width:100%;
	position:absolute;
	left:200px;
	height:225px;
	background:white;
	top:775px;
}
#home-footer-languages{
	width:1100px;
  height:14px;
}
#home-footer-index{
  top:75px;
	width:1100px;
  height:25px;
}
